[package]
name = "memolanes_core"
version = "0.1.0"
edition = "2021"


[lib]
crate-type = ["lib", "cdylib", "staticlib"]

[dependencies]
anyhow = { version = "1", features = ["backtrace"] }
chrono = "0.4.26"
flutter_rust_bridge = { version = "=2.0.0-dev.32", features = ["chrono"] }
log = "0.4.19"
rusqlite = { version = "0.29.0", features = ["bundled"] }
simplelog = "0.12.1"
tiny-skia = "0.11.1"
protobuf = "3"
uuid = { version = "1.4", features = ["v4", "fast-rng", "macro-diagnostics"] }
sql_split = "0.1.1"
zstd = "0.12"
itertools = "0.11.0"
strum = "0.25"
strum_macros = "0.25"
random-string = "1.0"
zip = "0.6"
sha1 = "0.10.5"
hex = "0.4.3"
integer-encoding = "4.0.0"
flate2 = "1.0.28"
gpx = "0.9.1"
kml = "0.8.4"
lazy_static = "1.4.0"
geo-types = "0.7.13"

[dev-dependencies]
tempdir = "0.3.7"
csv = "1.1"
rand = "0.8.4"

[build-dependencies]
protobuf-codegen = "3"

