name: CI

on: 
  push:
    branches:
      - main
  pull_request:
    branches: 
      - main
  workflow_dispatch:

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: app/

    steps:
      # Setup
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true
          components: rustfmt, clippy
      - uses: Swatinem/rust-cache@v2
        with:
          workspaces: "app/rust/"
      - name: Install flutter_rust_bridge_codegen
        run: cargo binstall 'flutter_rust_bridge_codegen@^2.0.0-dev.18'


      - name: Get Flutter Dependencies
        run: flutter pub get


      # Rust
      - name: Cargo Check
        working-directory: app/rust
        run: cargo check
      - name: Check Rust format
        working-directory: app/rust
        run: cargo fmt --all -- --check
      - name: Rust code analysis
        working-directory: app/rust
        run: cargo clippy -- -D warnings
      - name: Run Rust tests
        working-directory: app/rust
        run: cargo test -- --nocapture


      - name: Flutter Analyze
        run: flutter analyze --no-fatal-infos